projects/tacklelib/*.lst
projects/tacklelib/*.vars
projects/tacklelib/*.yaml
projects/tacklelib/.log
projects/tacklelib/deploy/*.lst
projects/tacklelib/deploy/*.vars
projects/tacklelib/deploy/*.yaml
projects/tacklelib/deploy/.log
projects/tacklelib/tacklelib/*.lst
projects/tacklelib/tacklelib/*.vars
projects/tacklelib/tacklelib/*.yaml
projects/tacklelib/tacklelib/.log
