* text=auto !eol
projects/tacklelib/README_EN.txt -text
projects/tacklelib/__init__.bat -text
projects/tacklelib/cmake/__init__.bat -text
projects/tacklelib/cmake/bb~git~init.bat -text
projects/tacklelib/cmake/bb~git~pull_all.bat -text
projects/tacklelib/cmake/bb~git~reset_all.bat -text
projects/tacklelib/cmake/bb~git~svn_fetch.bat -text
projects/tacklelib/cmake/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/cmake/config.vars.in -text
projects/tacklelib/cmake/configure.bat -text
projects/tacklelib/cmake/gh~git~init.bat -text
projects/tacklelib/cmake/gh~git~pull_all.bat -text
projects/tacklelib/cmake/gh~git~reset_all.bat -text
projects/tacklelib/cmake/gh~git~svn_fetch.bat -text
projects/tacklelib/cmake/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/cmake/gl~git~init.bat -text
projects/tacklelib/cmake/gl~git~pull_all.bat -text
projects/tacklelib/cmake/gl~git~reset_all.bat -text
projects/tacklelib/cmake/gl~git~svn_fetch.bat -text
projects/tacklelib/cmake/gl~git~sync_svn_to_git.bat -text
projects/tacklelib/cmake/repos.lst.in -text
projects/tacklelib/cmake/sf~svn~checkout_all.bat -text
projects/tacklelib/cmake/sf~svn~update_all.bat -text
projects/tacklelib/configure.bat -text
projects/tacklelib/deploy/__init__.bat -text
projects/tacklelib/deploy/bb~git~init.bat -text
projects/tacklelib/deploy/bb~git~pull_all.bat -text
projects/tacklelib/deploy/bb~git~reset_all.bat -text
projects/tacklelib/deploy/bb~git~svn_fetch.bat -text
projects/tacklelib/deploy/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/deploy/config.vars.in -text
projects/tacklelib/deploy/configure.bat -text
projects/tacklelib/deploy/gh~git~init.bat -text
projects/tacklelib/deploy/gh~git~pull_all.bat -text
projects/tacklelib/deploy/gh~git~reset_all.bat -text
projects/tacklelib/deploy/gh~git~svn_fetch.bat -text
projects/tacklelib/deploy/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/deploy/repos.lst.in -text
projects/tacklelib/deploy/sf~svn~checkout_all.bat -text
projects/tacklelib/deploy/sf~svn~update_all.bat -text
projects/tacklelib/examples/__init__.bat -text
projects/tacklelib/examples/bb~git~init.bat -text
projects/tacklelib/examples/bb~git~pull_all.bat -text
projects/tacklelib/examples/bb~git~reset_all.bat -text
projects/tacklelib/examples/bb~git~svn_fetch.bat -text
projects/tacklelib/examples/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/examples/config.vars.in -text
projects/tacklelib/examples/configure.bat -text
projects/tacklelib/examples/gh~git~init.bat -text
projects/tacklelib/examples/gh~git~pull_all.bat -text
projects/tacklelib/examples/gh~git~reset_all.bat -text
projects/tacklelib/examples/gh~git~svn_fetch.bat -text
projects/tacklelib/examples/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/examples/gl~git~init.bat -text
projects/tacklelib/examples/gl~git~pull_all.bat -text
projects/tacklelib/examples/gl~git~reset_all.bat -text
projects/tacklelib/examples/gl~git~svn_fetch.bat -text
projects/tacklelib/examples/gl~git~sync_svn_to_git.bat -text
projects/tacklelib/examples/repos.lst.in -text
projects/tacklelib/examples/sf~svn~checkout_all.bat -text
projects/tacklelib/examples/sf~svn~update_all.bat -text
projects/tacklelib/scripts/__init__.bat -text
projects/tacklelib/scripts/bb~git~init.bat -text
projects/tacklelib/scripts/bb~git~pull_all.bat -text
projects/tacklelib/scripts/bb~git~reset_all.bat -text
projects/tacklelib/scripts/bb~git~svn_fetch.bat -text
projects/tacklelib/scripts/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/scripts/config.vars.in -text
projects/tacklelib/scripts/configure.bat -text
projects/tacklelib/scripts/gh~git~init.bat -text
projects/tacklelib/scripts/gh~git~pull_all.bat -text
projects/tacklelib/scripts/gh~git~reset_all.bat -text
projects/tacklelib/scripts/gh~git~svn_fetch.bat -text
projects/tacklelib/scripts/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/scripts/gl~git~init.bat -text
projects/tacklelib/scripts/gl~git~pull_all.bat -text
projects/tacklelib/scripts/gl~git~reset_all.bat -text
projects/tacklelib/scripts/gl~git~svn_fetch.bat -text
projects/tacklelib/scripts/gl~git~sync_svn_to_git.bat -text
projects/tacklelib/scripts/repos.lst.in -text
projects/tacklelib/scripts/sf~svn~checkout_all.bat -text
projects/tacklelib/scripts/sf~svn~update_all.bat -text
projects/tacklelib/tacklelib/__init__.bat -text
projects/tacklelib/tacklelib/bb~git~init.bat -text
projects/tacklelib/tacklelib/bb~git~pull_all.bat -text
projects/tacklelib/tacklelib/bb~git~reset_all.bat -text
projects/tacklelib/tacklelib/bb~git~svn_fetch.bat -text
projects/tacklelib/tacklelib/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/tacklelib/config.vars.in -text
projects/tacklelib/tacklelib/configure.bat -text
projects/tacklelib/tacklelib/gh~git~init.bat -text
projects/tacklelib/tacklelib/gh~git~pull_all.bat -text
projects/tacklelib/tacklelib/gh~git~reset_all.bat -text
projects/tacklelib/tacklelib/gh~git~svn_fetch.bat -text
projects/tacklelib/tacklelib/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/tacklelib/gl~git~init.bat -text
projects/tacklelib/tacklelib/gl~git~pull_all.bat -text
projects/tacklelib/tacklelib/gl~git~reset_all.bat -text
projects/tacklelib/tacklelib/gl~git~svn_fetch.bat -text
projects/tacklelib/tacklelib/gl~git~sync_svn_to_git.bat -text
projects/tacklelib/tacklelib/repos.lst.in -text
projects/tacklelib/tacklelib/sf~svn~checkout_all.bat -text
projects/tacklelib/tacklelib/sf~svn~update_all.bat -text
