* text=auto !eol
projects/tacklelib/README_EN.txt -text
projects/tacklelib/__init__.bat -text
projects/tacklelib/config.vars.in -text
projects/tacklelib/configure.bat -text
projects/tacklelib/deploy/__init__.bat -text
projects/tacklelib/deploy/bb~git~init.bat -text
projects/tacklelib/deploy/bb~git~pull_all.bat -text
projects/tacklelib/deploy/bb~git~reset_all.bat -text
projects/tacklelib/deploy/bb~git~svn_fetch.bat -text
projects/tacklelib/deploy/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/deploy/config.vars.in -text
projects/tacklelib/deploy/configure.bat -text
projects/tacklelib/deploy/gh~git~init.bat -text
projects/tacklelib/deploy/gh~git~pull_all.bat -text
projects/tacklelib/deploy/gh~git~reset_all.bat -text
projects/tacklelib/deploy/gh~git~svn_fetch.bat -text
projects/tacklelib/deploy/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/deploy/repos.lst.in -text
projects/tacklelib/deploy/sf~svn~checkout_all.bat -text
projects/tacklelib/deploy/sf~svn~update_all.bat -text
projects/tacklelib/tacklelib/__init__.bat -text
projects/tacklelib/tacklelib/bb~git~init.bat -text
projects/tacklelib/tacklelib/bb~git~pull_all.bat -text
projects/tacklelib/tacklelib/bb~git~reset_all.bat -text
projects/tacklelib/tacklelib/bb~git~svn_fetch.bat -text
projects/tacklelib/tacklelib/bb~git~sync_svn_to_git.bat -text
projects/tacklelib/tacklelib/config.vars.in -text
projects/tacklelib/tacklelib/configure.bat -text
projects/tacklelib/tacklelib/gh~git~init.bat -text
projects/tacklelib/tacklelib/gh~git~pull_all.bat -text
projects/tacklelib/tacklelib/gh~git~reset_all.bat -text
projects/tacklelib/tacklelib/gh~git~svn_fetch.bat -text
projects/tacklelib/tacklelib/gh~git~sync_svn_to_git.bat -text
projects/tacklelib/tacklelib/gl~git~init.bat -text
projects/tacklelib/tacklelib/gl~git~pull_all.bat -text
projects/tacklelib/tacklelib/gl~git~reset_all.bat -text
projects/tacklelib/tacklelib/gl~git~svn_fetch.bat -text
projects/tacklelib/tacklelib/gl~git~sync_svn_to_git.bat -text
projects/tacklelib/tacklelib/repos.lst.in -text
projects/tacklelib/tacklelib/sf~svn~checkout_all.bat -text
projects/tacklelib/tacklelib/sf~svn~update_all.bat -text
